* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  font-family: "Noto Sans KR";
}

.menu {
  padding-right: 2rem;
}

h1 {
  color: #4caf50;
  padding-left: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: "Noto Sans KR";
}

#text p {
  font-family: "Work Sans";
  font-size: 1rem;
}

#header div {
  display: flex;
  gap: 15%;
  /* justify-content: center;
  align-items: center; */
}

a {
  text-decoration: none;
}

#text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#container {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

#search {
  background-color: white;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  height: 400px;
}

input {
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
  background-color: #ece9e9;
  font-family: "Work Sans";
  color: black;
}

#departure {
  border-bottom: 1px solid black;
}

#input {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* margin-bottom: 4em; */
}

#btn-search {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-bottom: -2em; */
}

#results {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 350px;
  overflow: auto;
  padding: 1rem;
  height: 400px;
}

#results img {
  width: 10rem;
  border-bottom: 2px solid #8dd194;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

/* #results p {
  margin-bottom: 5rem;
} */

.trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 213, 216);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  width: 100%;
}

.btn-book {
  background-color: #4caf50;
  padding: 10px 15px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.price {
  font-size: large;
}
