* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#blank {
  background-image: none;
}
body {
  background-image: url("assets/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  font-family: "Work Sans";
}

#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  font-family: "Noto Sans KR";
  font-size: 20px;
}

.menu {
  padding-right: 2rem;
}

.menu h6 {
  text-decoration: none;
  color: black;
  font-family: "Work Sans";
}

h1 {
  color: #66a692;
  padding-left: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: "Noto Sans KR";
  text-align: center;
}

#text p {
  font-family: "Work Sans";
  font-size: 1rem;
  text-align: center;
}

#header div {
  display: flex;
  gap: 15%;
}

a {
  text-decoration: none;
}

#text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#container {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

#search {
  background-color: #f2f3f3;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  height: 400px;
}

input {
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
  background-color: #ece9e9;
  font-family: "Work Sans";
  color: black;
}

#separator {
  width: 315px;
  height: 1.5px;
  background-color: black;
  opacity: 0.3;
}

#input {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

#btn-search {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #66a692;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-search:hover {
  background-color: #286f5a;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f3f3;
  border-radius: 10px;
  width: 350px;
  overflow: auto;
  padding: 1rem;
  height: 400px;
}

#results img {
  width: 10rem;
  border-bottom: 2px solid #66a692;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f1f0;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  width: 100%;
}

.btn-book {
  background-color: #66a692;
  padding: 10px 15px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #286f5a;
}

.price {
  font-weight: 700;
}

#cart-container {
  background-color: #f2f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  width: 70%;
}

#btn-delete {
  background-color: #66a692;
  color: white;
  font-weight: 700;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

#btn-delete:hover {
  background-color: #286f5a;
}

.cart {
  padding: 1rem 0;
}

.cart-line {
  width: 80%;
}

#total {
  background-color: #051544;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 4rem;
  padding: 2rem;
}

#btn-purchase {
  background-color: #66a692;
  border: none;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

#btn-purchase:hover {
  background-color: #286f5a;
}

.text {
  color: white;
}

#empty-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  padding: 3rem 0;
}

.no-ticket {
  padding-bottom: 2rem;
}

#cart-line-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking-line-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#booking-container {
  background-color: #f2f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  width: 70%;

  padding-right: 4rem;
  padding-left: 4rem;
}

.booking {
  padding: 1rem;
}

.border {
  width: 15%;
  height: 1px;
  background-color: #66a692;
  margin: 1rem;
}

.enjoy {
  color: #66a692;
  padding-bottom: 1rem;
}

#booking-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.no-booking {
  padding-bottom: 2rem;
}

@media screen and (max-width: 320px) {
  #search {
    width: 300px;
  }
  #results {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
  #container {
    gap: 30px;
    padding-bottom: 30px;
  }
  .trip {
    font-size: 0.8rem;
    width: 90%;
    height: 50px;
    gap: 10px;
  }
  #my-cart {
    width: 350px;
  }

  #my-booking {
    width: 350px;
    padding: 0;
  }
}
